{% extends 'masterPage.html' %}

{% block Contenido %}
    <div class="row">
        <div class="col-md-6 col-sm-offset-3">
            <div class="page-header">
                <h1>Ingreso de Datos</h1>
            </div>
            <form method="post" action="inputDatos">
                {% csrf_token %}
                <div class="col-md-12">
                    <div class="form-group col-md-6">
                        <label for="input_alternativa">Altenativas: </label>
                        <input type="text" name="txt_alternativa" value="" id="id_txt_alternativa" class="form-control"
                               size="20" autofocus>
                        <br>
                        <button id="id_btn_alternativa" class="btn btn-primary " type="submit"
                                name="ingresar_alternativa">Ingresar
                        </button>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group col-md-6">
                        <label for="input_consecuencia">Apellido: </label>
                        <input type="text" name="txt_consecuencia" value="" id="id_txt_consecuencia"
                               class="form-control"
                               size="20">
                        <br>
                        <button id="id_btn_consecuencia" class="btn btn-primary " type="submit"
                                name="ingresar_consecuencia" >Ingresar
                        </button>
                    </div>
                </div>
                <div class="col-md-12">
                        <button id="confirmar" class="btn btn-primary " type="button" name="btn_confirmar"  onclick="location.href = '{% url "calcular" %}'">Confirmar
                            Datos
                        </button>
                </div>
                <br><br>
                <h3 id="error1" align="center">{{ alt }}</h3>
                <br><br>
                <h3 id="error2" align="center">{{ con }}</h3>
            </form>
        </div>
    </div>

{% endblock %}